@charset "UTF-8";
/* Scss Document */

//colors
$primary-color: #212121;
$p-light-color: #484848;
$p-dark-color: #000;
$secondary-color: #01579b;
$s-light-color: #4f83cc;
$color-link: #ce2930;

//fonts
body{
  font-family: "Noto Sans Japanese";
}

.en{
  font-family: 'Roboto', sans-serif;
}
